body{
margin:0;
font-family:Segoe UI;
color:white;
overflow-x:hidden;
transition:.5s;
}

.bg{
position:fixed;
width:200%;
height:200%;
background:linear-gradient(-45deg,#ff00cc,#3333ff,#00ffcc,#ff6600);
background-size:400% 400%;
animation:bgmove 15s infinite linear;
z-index:-1;
}

@keyframes bgmove{
0%{transform:translate(-25%,-25%)}
50%{transform:translate(-35%,-35%)}
100%{transform:translate(-25%,-25%)}
}

.panel{
text-align:center;
padding:25px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,320px);
justify-content:center;
gap:25px;
margin-top:25px;
}

.card{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
padding:20px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,0,0,0.4);
}

button{
margin-top:10px;
padding:10px;
border:none;
border-radius:12px;
background:#00ffd5;
cursor:pointer;
font-weight:bold;
}

.temaBtn{
margin-top:15px;
}

input,textarea{
width:100%;
padding:10px;
margin-top:8px;
border:none;
border-radius:10px;
}

ul{list-style:none;padding:0}

li{
background:rgba(255,255,255,0.25);
margin-top:8px;
padding:8px;
border-radius:10px;
display:flex;
justify-content:space-between;
}

.calcBtns{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:5px;
margin-top:10px;
}

.calcBtns button{
padding:15px;
background:white;
color:black;
font-weight:bold;
}

#timer{
font-size:30px;
margin:10px;
}

